@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
    color: black;
}

main {
    display: none;
    justify-content: space-around;
    padding-top: 40px;
    margin-bottom: -250px;
}

body {
    background: rgb(206, 184, 184);
}



footer span {
    margin-left: 40px;
    font-weight: 600;
}

.students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
}

.student-name {
    border-right: 2px solid rgb(78, 78, 78);
    padding-right: 10px;
    margin-right: 10px;
}

.students button {
    border: transparent;
    padding: 5px 10px;
    margin: 5px;
}

.students .inc-btn {
    background-color: rgb(23, 184, 23);
    font-size: 20px;
}

.students .dec-btn {
    background-color: rgb(206, 22, 22);
    font-size: 20px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time-disp {
    background-color: rgb(23, 184, 23);
    padding: 10px 20px;
    margin: 20px;
    padding-bottom: 12px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
}

.timer button {
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    background: rgb(168, 25, 168);
    border: transparent;
}


/* student add */

.enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.enter input {
    margin: 10px 20px;
    width: 140px;
    height: 30px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.6);
}

.enter button {
    width: 140px;
    padding: 5px 0;
    border: transparent;
    background-color: rgb(23, 184, 23);
}

#finish-btn {
    margin: 20px;
    max-width: 100px;
    padding: 5px 8px;
    background: rgb(255, 0, 212);
    border: transparent;
}

.current-cont {
    margin: 20px;
}

#current {
    margin: 20px;
}

.alert {
    margin: 0 20px;
}

.iframe-enter button {
    width: 140px;
    padding: 5px 0;
    border: transparent;
    background-color: rgb(23, 184, 23);
}

.iframe-enter input {
    margin: 10px 20px;
    width: 140px;
    height: 30px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.6);
}

.iframe-enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -250px;
}

.error {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
}

.iframe-steps {
    font-size: 12px;
    margin-top: 300px;
    margin-left: 50px;
}

@media only screen and (max-width: 1317px) {
    #iframe-enteres {
        width: 380px;
        height: 300px;
    }
}

@media only screen and (max-width: 760px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #iframe-enteres {
        margin: 30px;
    }
}

@media only screen and (max-width: 414px) {
    #iframe-enteres {
        width: 280px;
        height: 220px;
    }
}